module load bowtie samtools

chmod a+rwx bismark
export PATH=$PATH:"$PWD"

#input
FASTQ1=${fastq1}
FASTQ2=${fastq2}
GENOME_FOLDER=${genome_folder}
PAIRED=${paired}
MISMATCHES=${mismatches}
SEED_LEN=${seed_len}
FASTQ1_F=$(basename ${FASTQ1})
FASTQ2_F=$(basename ${FASTQ2})
ARGS=""
#if [ ${MISMATCHES} != 0 ]; then ARGS="${ARGS} -N ${MISMATCHES} "; fi
#if [ ${SEED_LEN} -ne 20  ]; then ARGS="${ARGS} -L ${SEED_LEN} "; fi
ARGS="${ARGS} ${SEED_LEN} ${MISMATCHES} "; 

# Build up an ARGS string for the program
if [ ${PAIRED} -eq 1 ]; then ARGS="${ARGS} -1 ${FASTQ1_F} -2 ${FASTQ2_F} "; fi
if [ ${PAIRED} -eq 0 ]; then ARGS="${ARGS} --single_end ${FASTQ1_F} "; fi

echo "bismark --genome_folder ${GENOME_FOLDER} ${FASTQ1_F}"
# Run the actual program
bismark -p 16 ${GENOME_FOLDER} ${FASTQ1_F}
rm -Rf ${FASTQ1_F} ${GENOME_FOLDER}
if [ ${PAIRED} -eq 1 ]; then rm -Rf ${FASTQ2_F} ; fi 
